In [1]:
#importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#load the dataset
df=pd.read_csv(r"C:\Users\TOPE\Desktop\IMDB-Movie-Data.csv")

In [3]:
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

###  Which year Has The Highest Average Voting?

In [4]:
# Calculate the average voting (Rating) for each year and sort the result.
average_voting_by_year = df.groupby('Year')['Rating'].mean().sort_values(ascending=False)

# Get the year with the highest average voting.
year_highest_average_voting = average_voting_by_year.idxmax()

# Get the highest average voting value.
highest_average_voting = average_voting_by_year.max()
highest_average_voting

7.133962264150944

### In which year there was the Highest Average Revenue?

In [5]:
# Calculate the average revenue for each year and sort the result.
average_revenue_by_year = df.groupby('Year')['Revenue (Millions)'].mean().sort_values(ascending=False)

# Get the year with the highest average revenue.
year_highest_average_revenue = average_revenue_by_year.idxmax()

# Get the highest average revenue value.
highest_average_revenue = average_revenue_by_year.max()
highest_average_revenue

112.60127659574468

In [6]:
# Convert the "Revenue (Millions)" column to numeric to ensure accurate calculations
df['Revenue (Millions)'] = pd.to_numeric(df['Revenue (Millions)'], errors='coerce')

# Calculate the average revenue for each year and sort the result.
average_revenue_by_year = df.groupby('Year')['Revenue (Millions)'].mean().sort_values(ascending=False)
average_revenue_by_year

Year
2009    112.601277
2012    107.973281
2010    105.081579
2008     99.082745
2007     87.882245
2011     87.612258
2013     87.121818
2006     86.296667
2014     85.078723
2015     78.355044
2016     54.690976
Name: Revenue (Millions), dtype: float64

In [7]:
# Convert the "Revenue (Millions)" column to numeric to ensure accurate calculations
df['Revenue (Millions)'] = pd.to_numeric(df['Revenue (Millions)'], errors='coerce')

# Calculate the average revenue for each year and sort the result.
average_revenue_by_year = df.groupby('Year')['Revenue (Millions)'].mean().sort_values(ascending=False)

# Get the year with the highest average revenue.
year_highest_average_revenue = average_revenue_by_year.idxmax()

# Get the highest average revenue value.
highest_average_revenue = average_revenue_by_year.max()
highest_average_revenue

112.60127659574468

In [8]:
# Group the data by the "Director" column and calculate the mean of the "Rating" column for each director.
average_rating_by_director = df.groupby('Director')['Rating'].mean()
average_rating_by_director

Director
Aamir Khan             8.50
Abdellatif Kechiche    7.80
Adam Leon              6.50
Adam McKay             7.00
Adam Shankman          6.30
                       ...
Xavier Dolan           7.55
Yimou Zhang            6.10
Yorgos Lanthimos       7.20
Zack Snyder            7.04
Zackary Adler          5.10
Name: Rating, Length: 644, dtype: float64

In [10]:
# Then, you can perform the average rating calculation:
average_rating_by_director = df.groupby('Director')['Rating'].mean()
average_rating_by_director

Director
Aamir Khan             8.50
Abdellatif Kechiche    7.80
Adam Leon              6.50
Adam McKay             7.00
Adam Shankman          6.30
                       ...
Xavier Dolan           7.55
Yimou Zhang            6.10
Yorgos Lanthimos       7.20
Zack Snyder            7.04
Zackary Adler          5.10
Name: Rating, Length: 644, dtype: float64